html,
body,
* {
  padding: 0;
  margin: 5;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "comic-sans";
}

body {
  background-color: #f5eccd;
  color: #fcc8c2;
  animation: fadeIn ease 1s;
}

#intro {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #032b43;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.overlay {
  padding: 10;
  width: 20rem;
  height: 20rem;
  background-color: #393e41;
  border-radius: 0.5rem;
  box-shadow: 0.5rem -0.75rem #00000081;
  z-index: 1;
}

.followimg-top {
  position: relative;
  top: -24rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: #393e41;
  border-radius: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
  box-shadow: 0.5rem -0.4rem rgba(0, 0, 0, 0.445);
}

.followimg-bottom {
  position: relative;
  bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: #393e41;
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  padding: 0 0.5rem 0 0.5rem;
  box-shadow: 0.5rem -0.4rem rgba(0, 0, 0, 0.445);
}

.photo-gallery {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 5rem;
}

.overlay:hover {
  animation: fadeOut 1s;
}

.overlay::after {
  https: ; //media.istockphoto.com/photos/angry-monkey-picture-id1222268535
}

@keyframes fadeOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(10);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
